<!DOCTYPE html>
<html>
<head>
  <title>AbhidipDemo</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render '_shared/header' %>
<%= yield %>
<hr>
     <%= render '_shared/footer' %>
</body>
</html>
